body {
background-color: bisque;
}
.container {
    width: 800px;
    background-color: #fff;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
}

/*Header*/

.logo {
    float: left;
    height: 15px;
}
.meniu {
    float: right;
}
.meniu > .link {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

/* MAIN */

.left-column {
    float: left;
}
.right-column {
    float: right;
}